n8n/workflows/bluesky-post-publisher.json
{
  "name": "Social Deck - Bluesky post publisher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-deck",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d3f35a7-196f-4b93-af1a-70ee9c1d7c59",
      "name": "Social Deck webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "social-deck"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst platforms = body.platforms ?? {};\n\nif (body.schemaVersion !== 1) {\n  throw new Error('Unsupported Social Deck schema version');\n}\n\nif (body.testConnection === true) {\n  return [{ json: {\n    connectionTest: true,\n    response: {\n      ok: true,\n      type: 'connection-test',\n      source: 'n8n',\n      receivedAt: new Date().toISOString()\n    }\n  } }];\n}\n\nfunction parseText(platform, limit) {\n  const value = platforms[platform]?.text;\n  if (typeof value !== 'string' || value.trim().length === 0) {\n    throw new Error(platform + ' text is required');\n  }\n  if ([...value].length > limit) {\n    throw new Error(platform + ' text exceeds ' + limit + ' characters');\n  }\n  return value;\n}\n\nfunction utf8Index(text, utf16Index) {\n  const value = text.slice(0, utf16Index);\n  if (typeof TextEncoder !== 'undefined') {\n    return new TextEncoder().encode(value).byteLength;\n  }\n  if (typeof Buffer !== 'undefined') {\n    return Buffer.byteLength(value, 'utf8');\n  }\n  return unescape(encodeURIComponent(value)).length;\n}\n\nfunction parseUrlFacets(text) {\n  const facets = [];\n  const urlPattern = /https?:\\/\\/[^\\s<>\"']+/g;\n  let match;\n\n  while ((match = urlPattern.exec(text)) !== null) {\n    const uri = match[0].replace(/[),.!?;:]+$/g, '');\n    if (!/^https?:\\/\\//.test(uri)) {\n      continue;\n    }\n\n    const start = match.index;\n    const end = start + uri.length;\n    facets.push({\n      index: {\n        byteStart: utf8Index(text, start),\n        byteEnd: utf8Index(text, end)\n      },\n      features: [\n        {\n          $type: 'app.bsky.richtext.facet#link',\n          uri\n        }\n      ]\n    });\n  }\n\n  return facets;\n}\n\nconst text = parseText('bluesky', 300);\nreturn [{ json: {\n  connectionTest: false,\n  source: body.source ?? {},\n  requestedAt: body.requestedAt ?? null,\n  bluesky: {\n    text,\n    facets: parseUrlFacets(text)\n  }\n} }];"
      },
      "id": "18cd2519-e366-4a2b-a5ec-d715f432b416",
      "name": "Validate request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80de15e3-4281-4a53-8ce9-c50a3e896b99",
              "leftValue": "={{ $json.connectionTest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6baa460e-869d-4509-aec3-c92989370133",
      "name": "If connection test",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "id": "a74e771c-02e6-4704-96f9-1f26c7fcb2b5",
      "name": "Return connection test",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "9c6f4f72-0497-48ff-bfbc-026262250030",
      "name": "Create Bluesky session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.accessJwt }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify((() => {\n  const bluesky = $('Validate request').first().json.bluesky;\n  const record = {\n    '$type': 'app.bsky.feed.post',\n    text: bluesky.text,\n    createdAt: $now.toUTC().toISO(),\n    langs: ['en']\n  };\n  if (Array.isArray(bluesky.facets) && bluesky.facets.length > 0) {\n    record.facets = bluesky.facets;\n  }\n  return {\n    repo: $json.did,\n    collection: 'app.bsky.feed.post',\n    record\n  };\n})()) }}",
        "options": {}
      },
      "id": "1019d8ee-a66d-470d-b5ef-559f7379ec96",
      "name": "Create Bluesky post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const session = $('Create Bluesky session').first().json;\nconst post = $json;\nconst rkey = typeof post.uri === 'string' ? post.uri.split('/').pop() : undefined;\nreturn [{ json: {\n  ok: true,\n  platform: 'bluesky',\n  uri: post.uri,\n  cid: post.cid,\n  url: session.handle && rkey ? 'https://bsky.app/profile/' + session.handle + '/post/' + rkey : undefined\n} }];"
      },
      "id": "e411169c-afb4-43c0-8f85-ea59d89d81fd",
      "name": "Record Bluesky result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "cb5e971b-4844-4af7-afcb-4fbf5f39b3d4",
      "name": "Return published post",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Social Deck webhook": {
      "main": [
        [
          {
            "node": "Validate request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate request": {
      "main": [
        [
          {
            "node": "If connection test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If connection test": {
      "main": [
        [
          {
            "node": "Return connection test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Bluesky session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bluesky session": {
      "main": [
        [
          {
            "node": "Create Bluesky post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bluesky post": {
      "main": [
        [
          {
            "node": "Record Bluesky result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Bluesky result": {
      "main": [
        [
          {
            "node": "Return published post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b505b2b-f695-4c16-90a5-d94bdd362cdf",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "social-deck-bluesky-post-publisher",
  "tags": []
}
