n8n/workflows/linkedin-publisher-subworkflow.json
{
  "name": "Social Deck - LinkedIn publisher sub-workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "caf5eaf3-86de-42f4-b04d-24729031344a",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const linkedin = $json.platforms?.linkedin ?? $json.linkedin ?? {};\nconst text = linkedin.text;\n\nif (typeof text !== 'string' || text.trim().length === 0) {\n  throw new Error('LinkedIn text is required');\n}\nif ([...text].length > 3000) {\n  throw new Error('LinkedIn text exceeds 3000 characters');\n}\n\nreturn [{ json: {\n  ...$json,\n  linkedin: {\n    text\n  }\n} }];"
      },
      "id": "9e969bba-1379-408b-bbb7-7dd2ddc126e2",
      "name": "Prepare LinkedIn post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "resource": "post",
        "operation": "create",
        "postAs": "person",
        "person": "",
        "organization": "",
        "text": "={{ $('Prepare LinkedIn post').first().json.linkedin.text }}",
        "shareMediaCategory": "NONE",
        "additionalFields": {}
      },
      "id": "ab2385cf-32f9-4526-8bcb-24afd6071161",
      "name": "Create LinkedIn post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst id = response.urn ?? response.id;\n\nif (typeof id !== 'string' || id.length === 0) {\n  throw new Error('LinkedIn did not return a post ID');\n}\n\nreturn [{ json: {\n  ok: true,\n  platform: 'linkedin',\n  id\n} }];"
      },
      "id": "b0c34a38-c227-49f6-ad6e-6f9ce4346d1d",
      "name": "Record LinkedIn result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn post": {
      "main": [
        [
          {
            "node": "Create LinkedIn post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LinkedIn post": {
      "main": [
        [
          {
            "node": "Record LinkedIn result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1295780-0d46-4fbd-a4d3-31bb1fca062d",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "social-deck-linkedin-publisher-sub-workflow",
  "tags": []
}
